/* You can add global styles to this file, and also import other style files */

/* Noto Sans Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* PrimeNG Styles */

/* Apply Noto Sans as default font */
body {
  font-family: 'Ubuntu', sans-serif;
}

